
$dark-gray: #333333;
$gray: #747474;
$black: #0a0a0a;
$light-gray: #F5F5F5;
$light-black: #1F1F1F;
$orange: #FE813E;
$yellow: #FED03D;
$sky-blue: #517AD2;
$light-sky-blue: #21A6B5;
$green: #84CB01;
$purple: #55328B;
$white: #ffffff;

